html{
    font-size: 14px;
    --nimiq-size: 14px;
    font-family: Muli,system-ui,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0;
}


.boxed{
    max-width: 850px;
    margin: 0 auto;
}

.pd-top-10{
    padding-top: 10px;
}

.pd-bottom-10{
    padding-bottom: 10px;
}

.normal{
    font-weight: normal;
}

.thick{
    font-weight: bold;
}

.thicker{
    font-weight: 900;
}

.circle{
    border-radius: 50%;
}

.centered{
    text-align: center;
}