:root, :root.light, :root .light {
    --falcon-toast-background-color: rgba(255, 255, 255, 0.95);
}

.dark{
    --falcon-toast-background-color: rgba(52, 64, 80, 0.95);
}

/**
Scrollbar
 */

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

.dark ::-webkit-scrollbar {
    background-color: rgba(255,255,255,0);
}
.dark ::-webkit-scrollbar:hover {
    background-color: rgba(255, 255, 255, 0.09);
}
.dark ::-webkit-scrollbar-thumb:vertical {
    background: rgba(255,255,255,0.5);
}
.dark ::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(255,255,255,0.61); /* Some darker color when you click it */
}


.div-scrollable{
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    max-height: 10rem
}

/**
    ToolTip
 */


.tooltip {
    display: block !important;
    z-index: 10000;
    font-size: 0.8rem
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
    font-size: 8px;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a .disabled{
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}


.theme-wizard .nav-link{
    padding-left: 0 !important;
    padding-right: 0 !important;;
}

.right{
    float: right;
}

.input-toggle-group{
    position: relative;
}

.input-toggle-group input {
    padding-right: 32px;
}

.input-toggle-group .is-invalid {
    padding-right: 62px;
}

.input-toggle{
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
}

.logo-color{
    color: #025d90
}

.pointer{
    cursor: pointer;
}

a, a:hover,a:visited, a:focus {
    text-decoration:none;
}

@media (min-width: 576px) and (max-width: 1200px) {
    .container{
        max-width: 100%;
    }
}

.disabled {
    pointer-events: none;
}

.blurry-text {
    text-shadow: 0 0 15px black;
    color: transparent;
}

.dark .blurry-text {
    text-shadow: 0 0 15px white;
    color: transparent;
}


@media (max-width: 576px) {
    .theme-wizard .nav-item-circle-parent {
        padding: 0 .3rem;
    }
}
